body {
    margin: 5rem;
}

.start {
    background-color: orange;
}

.end {
    background-color: green;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 50px;
    border: solid;
    margin-top: 2rem;
    width: 45%;

}



.north {
    border-top: solid;
}

.south {
    border-bottom: solid;
}

.west {
    border-left: solid;
}
.east {
    border-right: solid;
}
